body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(250, 236, 210);
}

header {
    background-color: chocolate;
    line-height: 80px;
    margin: -22px 0 0 0;
    width: 100%;
}

header h1 {
    color: white;
    text-align: center;
}

footer {
    background-color: chocolate;
    color: white;
    margin: 0;
    line-height: 60px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

nav {
    width: 100%;
    height: 40px;
    margin: -5px 0 0 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    line-height: 40px;
    background-color: rgb(248, 225, 195);
    margin: 0 10px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(125, 13, 13, 0.534), -2px -2px 5px rgba(125, 13, 13, 0.534);
}

li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
}

main {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    background-color: blanchedalmond;
}

img {
    align-self: center;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 5px solid blanchedalmond;
}

.pitka {
    grid-column:  1;
    border-radius: 5px;
    border: black solid 1px;
    font-size: 1.2em;
    padding: 20px;
    margin: 20px;
    background-color: pink;
    width: 300px;
}

.bonboni{
    grid-column: 2;
    border-radius: 5px;
    border: black solid 1px;
    font-size: 1.2em;
    padding: 20px;
    margin: 20px;
    background-color: lightgoldenrodyellow;
    width: 300px;
}

.keks {
    grid-column: 3;
    border-radius: 5px;
    border: black solid 1px;
    font-size: 1.2em;
    padding: 20px;
    margin: 20px;
    background-color: plum;
    width: 300px;
}

a:hover,
li:hover {
    background-color: chocolate;
    color: white;
}