body {
    background-color: lightgray
}

header {
    background-color: rgb(250, 236, 210);
    padding: 20px;
    text-align: center;
}

footer {
    background-color: chocolate;
    color: white;
    margin: 0;
    line-height: 60px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6em;
}

h1,
ul {
    font-style: italic;
}

ul li {
    list-style-type: " ";
}

h2 {
    clear: both;
}

h3{
    font-style: italic;
    padding-top: 20px;
}


img {
    height: 300px;
    float: left;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.txtBold {
    font-weight: bold;
}

.txtItalic {
    font-style: italic;
}

.products{
    background-color: bisque;
    height: 350px;
    margin: 10px;
    padding: 10px;
}

.preparation{
    background-color: blanchedalmond;
    margin: 10px;
    padding: 10px;
}

.source{
    background-color: beige;
    margin: 10px;
    padding: 10px;
}